#minesweeper-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-info {
    margin-bottom: 20px;
}

#minesweeper-grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #e7e7e7;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
}

.cell.mine {
    background-color: #f44336;
}

.cell.revealed {
    background-color: #ddd;
    cursor: default;
}

.cell.flagged {
    background-color: #ffeb3b; /* Yellow color for flag */
    cursor: default;
}

.cell.flagged i {
    color: #333; /* Darker color for flag icon */
}

.cell i {
    font-size: 20px;
    color: #333;
}

.cell.mine i {
    color: #f44336; /* Red color for bomb */
}

.cell.flagged i {
    color: #ffeb3b; /* Yellow color for flag */
}


.cell.number-1 {
    color: blue;
}

.cell.number-2 {
    color: green;
}

.cell.number-3 {
    color: red;
}

.cell.number-4 {
    color: darkblue;
}

.cell.number-5 {
    color: brown;
}

.cell.number-6 {
    color: cyan;
}

.cell.number-7 {
    color: black;
}

.cell.number-8 {
    color: gray;
}
