{% extends "layout.html" %}
{% block content %}
    <h1>About This Web Application</h1>    
    <section id="about-page">
        <p>
            Welcome to my Flask web applicaiton!<br><br>

            The web app features:<br>
            <ul>
                <li>A blog page where users can share posts.</li>
                <li>A hangman game for some light-hearted fun.</li>
                <li>A fitness tracker to users to log their workouts.</li>
            </ul>
        </p>
    </section>

    <hr>

    <section id="about-me">
        <h2>About Me</h2>
        <img src="{{ url_for('static', filename='me.jpg') }}" alt="David Cain" class="about-me-portrait">
        
        <p>
            I'm David Cain, a passionate developer exploring the world of web development through Flask.<br>
            This web app is part of my journey to master Flask and Python, and each feature has helped me learn something new.
        </p>
    </section>
{% endblock content %}
