{% extends "layout.html" %}

{% block content %}
    <h1>Workout Logs</h1>
    
    <a href="{{ url_for('fitness.new_log') }}" class="btn btn-primary" style="margin: 5px;">Add New Log</a>
    
    <hr>

    <table class="table" style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 15%;">Workout Type</th>
                <th style="width: 10%;">Duration (minutes)</th>
                <th style="width: 10%;">Time</th>
                <th style="width: 10%;">Rating</th>
                <!-- <th style="width: 20%;">Date Posted</th> -->
                <th style="width: 35%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.workout_type }}</td>
                <td>{{ log.duration }}</td>
                <td>{{ log.time.strftime('%-I:%M%p') }}</td>
                <td>{{ log.rating }}</td>
                <!-- <td>{{ log.date_posted.strftime('%Y-%m-%d %I:%M %p') }}</td> -->
                <td>
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a href="{{ url_for('fitness.log', log_id=log.id) }}" class="btn btn-info" style="margin: 2px; border-radius: 10%;">View</a>
                        <a href="{{ url_for('fitness.update_log', log_id=log.id) }}" class="btn btn-warning" style="margin: 2px; border-radius: 10%;">Edit</a>
                        <form action="{{ url_for('fitness.delete_log', log_id=log.id) }}" method="POST" style="display:inline; margin: 2px; border-radius: 10%;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
