{% extends "layout.html" %}

{% block content %}
    <h1>Add New Fitness Entry</h1>
    <form method="POST" action="{{ url_for('fitness.new_log') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.workout_type.label }}
            <select name="workout_type" id="workout_type_select" class="form-control">
                <option value="Running">Running</option>
                <option value="Cycling">Cycling</option>
                <option value="Swimming">Swimming</option>
                <option value="Weightlifting">Weightlifting</option>
                <option value="Yoga">Yoga</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <!-- <div class="form-group" id="custom_workout_type_group" style="display: none;">
            <label for="custom_workout_type">Please specify</label>
            <input type="text" name="workout_type" id="custom_workout_type_select"/>
        </div> -->
        <div class="form-group">
            {{ form.duration.label }}
            {{ form.duration(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.time.label }}
            {{ form.time(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.rating.label }}
            {{ form.rating(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.notes.label }}
            {{ form.notes(class="form-control", rows="4") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="{{ url_for('fitness.journal_home') }}" class="btn btn-secondary mt-3">Back to Journal</a>

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            var workoutTypeSelect = document.getElementById('workout_type_select');
            var customWorkoutTypeGroup = document.getElementById('custom_workout_type_group');
            var customWorkoutTypeInput = document.getElementById('custom_workout_type_select');

            workoutTypeSelect.addEventListener('change', function () {
                if (this.value === "Other") {
                    customWorkoutTypeGroup.style.display = "block";
                    customWorkoutTypeInput.required = true; // Make the input required if 'Other' is selected
                    workoutTypeSelect.classList.remove('form-control'); // Remove the form-control class
                } else {
                    customWorkoutTypeGroup.style.display = "none";
                    customWorkoutTypeInput.required = false; // Remove the required attribute if 'Other' is not selected
                    workoutTypeSelect.classList.add('form-control'); // Add the form-control class back
                }
            });
        });
    </script> -->
{% endblock %}
