{% extends "layout.html" %}

{% block content %}
    <h1>Welcome to Hangman</h1>
    <p>Win Counter: {{ session['win_counter'] }}</p> <!-- Display win counter from session -->
    <p><a href="{{ url_for('hangman.start_game') }}" class="btn btn-primary">Start New Game</a></p>

    <h2>Scoreboard</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Wins</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in scoreboard %}
                <tr>
                    <td>{{ entry.user.username }}</td>
                    <td>{{ entry.wins }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
