{% extends "layout.html" %}
{% block content %}
  <h1>Minesweeper Game</h1>
  <div id="minesweeper-game" class="content-section">
    <div id="game-info">
      <div id="mines-count" class="seven-segment">020</div>
      <div id="reset-button">
          <button>🥹</button> <!-- You can style this to look like the original smiley -->
      </div>
      <div id="timer" class="seven-segment">000</div>
    </div>
    <div id="minesweeper-grid"></div>
  </div>
  <!-- Include the Minesweeper JavaScript file here -->
  <script src="{{ url_for('static', filename='minesweeper.js') }}" defer></script>
{% endblock content %}
